<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  routerLink="/home" defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end"routerLink="/editar-perfil">
          <ion-avatar >
              <img src="assets/avartar-admin.png" alt="" >
            </ion-avatar>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="secondary" lines="none">
    <p>Editar perfil</p>
  </ion-item>
</ion-content>
