@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.perfil{
    margin-top: 5px;
    width: 50px;
    height: 50px;
 }
ion-header{
    align-items: stretch;
}

p{
    margin-top: 1px;
    font-family: Raleway;
    font-weight: bolder;
    font-size: 25px;
    color: white;
    
}


ion-input{
     background-color: #cfcaca; 
    border-radius: 5px;
    
}
ion-label{
    margin:auto;
}

#header{
    height: 40px;
    width: 100%;
    background-color: #003f75;
    text-align: center;
} 

img{
    display: flex;
    border-radius: 100%;
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}
.ew{
    margin-top: 10px;
}