<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" routerLink="/editar-perfil">
      <ion-avatar>
        <img src="assets/avartar-admin.png" alt="" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="secondary" lines="none">
    <p>Actividades</p>
  </ion-item>

  <ion-card *ngFor="let activida of actividades" style="background-color: rgba(218, 218, 218, 0.712);">
    <ion-card-header>
      <ion-card-subtitle>{{activida.titulo}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="4" class="ion-align-self-start">
          <ion-card mode="md" id="pnt" color="secondary">
            <ion-label>Puntos</ion-label><br />
            <strong style="font-size: 25px;">{{activida.punto}}</strong>
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card  mode="md" id="mes" style="background-color: #e7e5e5">
            <ion-label style="width: 100px; height: 25px">
              <p style="background-color: #003f75; font-size: 13px; color: white">
                {{activida.actividadI | date:'MMMM'}}
              </p>
            </ion-label>
            <strong style="color: black; font-size: 25px; font-weight: bold;">{{activida.actividadI |date:'dd'}}</strong>
          </ion-card>
        </ion-col>

        <ion-col size="4" class="ion-align-items-end">
          <ion-card mode="md" id="mes" style="background-color: #e7e5e5">
            <ion-label style="width: 100px; height: 25px; ">
              <p style="background-color: #003f75; font-size: 13px; color: white">
                {{activida.actividadF | date:'MMMM'}}
              </p>
            </ion-label>
            <strong style="margin:auto; color: black; font-size: 25px; font-weight: bold;">{{activida.actividadF |
              date:'dd'}}</strong>
          </ion-card>
        </ion-col>
      </ion-row>

    
      <div id="accion" >
      <ion-button style="margin-left: 20%;"  color="secondary" (click)="editActividad(activida)" routerLink="/edit-activida">
        <ion-icon  name="create-sharp"></ion-icon>
      </ion-button>

      <ion-button style="margin-left: 20%;" color="danger" (click)="deleteActividad(activida)">
        <ion-icon  name="trash"></ion-icon>
      </ion-button>
    </div>

    </ion-card-content>
  </ion-card>
</ion-content>
