<app-header></app-header>

<ion-content>
  <ion-item color="secondary" lines="none">
    <p>Actividades</p>
  </ion-item>

  <ion-card mode="md" *ngFor="let activida of actividades" style="background-color: rgba(253, 253, 253, 0.63);">
    <ion-card-header>
      <ion-card-subtitle>{{activida.titulo}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row mode="ios">
        <ion-col size="4" class="ion-align-self-start">
          <ion-card  id="pnt" color="secondary">
            <ion-label><b>Puntos</b></ion-label><br>
            <strong style="font-size: 25px;">{{activida.punto}}</strong>
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card   id="mes" style="background-color: #e7e5e5">
            <ion-label style="width: 100px; height: 25px">
              <p style="background-color: #003f75; font-size: 13px; color: white">
                {{activida.actividadI | date:'MMMM'}}
              </p>
            </ion-label>
            <strong style="color: black; font-size: 25px; font-weight: bold;">{{activida.actividadI |date:'dd'}}</strong>
          </ion-card>
        </ion-col>

        <ion-col size="4" class="ion-align-items-end">
          <ion-card  id="mes" style="background-color: #e7e5e5">
            <ion-label style="width: 100px; height: 25px; ">
              <p style="background-color: #003f75; font-size: 13px; color: white">
                {{activida.actividadF | date:'MMMM'}}
              </p>
            </ion-label>
            <strong style="margin:auto; color: black; font-size: 25px; font-weight: bold;">{{activida.actividadF |
              date:'dd'}}</strong>
          </ion-card>
        </ion-col>
      </ion-row>

    
      <div  >
      <ion-button style="margin-left: 20%;"  color="secondary" (click)="editActividad(activida)" routerLink="/edit-activida">
        <ion-icon  name="create-sharp"></ion-icon>
      </ion-button>

      <ion-button style="margin-left: 20%;" color="danger" (click)="deleteActividad(activida)">
        <ion-icon  name="trash"></ion-icon>
      </ion-button>
    </div>

    </ion-card-content>
  </ion-card>
</ion-content>
