@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");



ion-content {

  #header {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
      img{
        width: 50%;
        height: 50%;
      }    
    h2 {
      font-family: "Fira Sans", sans-serif;
      font-size: 20px;
      text-align: center;
    }
  }
  #from {
    padding: 20px;
    background: #003f75;
    margin-top: 20px;   
    width: 90%;
    height: 45%;
    border-radius: 15px;

    margin-left: auto;
    margin-right: auto;
    
    h1 {
      font-family: "Fira Sans";
      font-weight: bold;
      text-align: center;
      font-size: 30px;
      color: #ffffff;
    }

    ion-item {
      --background: #f0ecec;
      margin-top: 15px;
      
      border-radius: 10px;
      font-family: "Raleway", sans-serif;
      font-size: 19px;
      
    }ion-icon{
  color: #8B8B8B;
    }

    ion-button{
      font-family: Fira Sans;
      font-weight: bold;
      font-size: 20px;
      color: black;
      margin-top: 15px;
      width: 100%;
      --background: #E4D61B;
      border-radius: 10px;
    }
  }
}
