

<ion-content>
  
  <div id="header">
     <img src="assets/logo.png" alt=""/>
    <h2>
      Corporacion Universitaria <br />
      Autonoma de Nariño
    </h2>
  </div>

  <form id="from">
    <h1>Iniciar sesión</h1>
    <ion-item class="ion-no-border" lines="none">
      <ion-icon name="person-outline"></ion-icon>
      <ion-input type="email" placeholder=" Name User"></ion-input>
    </ion-item>

    <ion-item class="ion-no-border" lines="none">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input type="Password" placeholder=" Password"></ion-input>
    </ion-item>

    <ion-button size="small">INGRESAR</ion-button>
    
  </form>
</ion-content>

