

<ion-content>
  
  <div id="header">
      <img src="assets/Aunar.png" alt="aunar Villavicencio"/>
  </div>

  <form id="from">
    <h1>Iniciar sesión</h1>
    <ion-item lines="none">
      <ion-icon name="person-outline"></ion-icon>
      <ion-input [(ngModel)]="newUser.email" type="text" name="email" placeholder=" Name User"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input [(ngModel)]="newUser.ndocumento" type="Password" name="Password" placeholder=" Password"></ion-input>
    </ion-item>

    <ion-button size="small" (click)="ingresar()" >INGRESAR</ion-button>

      <p style="text-align: center;color:white;" routerLink="/reset-pass">¿He Olvidado mi contraseña?</p>

  </form>

  <ion-item lines="none" style="margin-top: 10px; margin-left:10%;">
    <p style="padding-right: 20px; font-size: 14px;">¿Aún no tienes una cuenta?</p>
    <ion-button  mode="ios" routerLink="/nuevo-estudiante" style="height: 38px; width: 80px; font-size: 17px;" color="danger">Registrate
    </ion-button>
  </ion-item>
</ion-content>

