@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

ion-content{
    --background: rgb(255 251 251 / 64%);
}



ion-item {
    height: 40px;
    width: 100%;
}
p{
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    font-family: Raleway;
    font-weight: bold;
    font-size: 25px;
    
}



ion-col{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#pnt{
    width: 60px;
    height: 60px;
    text-align: center;
    margin-left: 20px;
}
strong{
    font-size: 20px;
    margin-right: 6px;
}

#mes{
    width: 70px;
    height: 60px;
    text-align: center;
    align-items: center;
    
}

ion-card-header{
    text-align: center;
}
ion-card-subtitle{
    color: black;
    font-size: 17px;
    font-weight: bold;
}

ion-button{
    width: 50px;
    height: 35px;
    
}
ion-textarea{
    --height: 150px;
}