@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


ion-content{
    --background: rgba(187, 187, 187, 0.644);
}
img{
    margin-top: 5px;
    width: 50px;
    height: 50px;
}
ion-header{
    align-items: stretch;
}
ion-item {
    height: 40px;
    width: 100%;
}
p{
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    font-family: Raleway;
    font-weight: bold;
    font-size: 25px;
    
}

.perfil{
    border-radius: 100% ;
    width: 100px;
    height: 100px; 
} 

.user{
    margin-top: 10px;
    border-radius: 100%;
    width: 100% ;
}

.name{
    font-size: 19px;
    font-weight: 600px;
    font-family: 'Roboto', sans-serif;
    color: black;
    display: block;
    margin-bottom: 1px !important;
}
.per{
    font-size: 10px;
    width: 145px;
    margin: inherit;font-size: 10px;
    width: 145px;
    margin: inherit;
}
h5{
    margin-top: 5px !important;
    font-size:12px;
    font-weight: lighter;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

ion-button{
    margin-top:6px;
    margin-left: 53%; 
    height: 25px;
    width: 105px;
}

