
<app-header></app-header>


<ion-content>
  <ion-item  color="secondary" lines="none">
    <p>Estudiantes</p>
  </ion-item>

  <ion-searchbar   animated (ionChange)="buscar($event)"></ion-searchbar>

  <ion-card *ngFor="let us of user | filtro: textoBuscar: 'nombres'">
    <ion-row>
      <ion-col size="4">
        <img class="perfil" [src]="us.foto" alt="">
      </ion-col>

      <ion-col >
        <label class="txt">
        <p class="name"><strong>{{us.nombres}}<br>{{us.apellidos}}</strong></p>
        <h5>{{us.programa}}</h5>
        <p class="per">{{us.email}}</p>
        </label>
      <ion-button color="secondary" >
        Ver puntos
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  
</ion-content>
