
ion-toolbar {
  --background: #003f75;
  img {
    margin-left: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  p {
    color: #ffffff;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    strong {
      font-size: 30px;
    }
  }
}

ion-content {
  --background: #003f75;
  ion-list {
    background-color: #003f75;
    margin-top: 20px;
  }
  ion-label{
    margin-bottom: 20px;
    text-align: start;
    color: #ffffff;
    margin-left: 20px;
    font-size: large; 
  }
  ion-item{
    margin-top: 10px;
  }
}
