
ion-toolbar {
  --background: #003f75;
  img {
    margin-left: 8px;
    width: 100px;
    height: 90px;
    border-radius: 100%;
  }
  strong {
    margin-top: 30px;
    color: #ffffff;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    p{
      margin-top: 1px !important;
    }
  }
}

ion-content {
  --background: #003f75;
  ion-list {
    background-color: #003f75;
    margin-top: 20px;
  }
  ion-label{
    margin-bottom: 20px;
    text-align: start;
    color: #ffffff;
    margin-left: 20px;
    font-size: large; 
  }
  ion-item{
    margin-top: 10px;
  }
}
